.outside-container {
    background-image: url('../assets/images/backgrounds/outside.png');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.front-door {
    position: absolute;
    top: 236px;
    left: 470px;
    z-index: 2;
}

.neighbour-door {
    position: absolute;
    top: 235px;
    right: 249px;
    z-index: 2;
}

.front-door:hover,
.neighbour-door:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #2574d3b6);
    filter: drop-shadow(0 0 1rem #ecff1cb6);
}