.chara-walk {
    animation: mini 8s;
    -webkit-animation: moveChara 4s;
    animation-iteration-count: 1;
}

@keyframes moveChara {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}