.bedroom-container {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(../assets/images/backgrounds/bedroom/BedroomBg.png);
    background-size: cover;
    border: 2px solid #e9385a;
    align-items: center;
    justify-content: center;
}

.door {
    position: absolute;
    top: 130px;
    left: 70px;
}

.bed {
    position: absolute;
    top: 180px;
    left: 500px;
}

.photoboard {
    position: absolute;
    top: 90px;
    right: 250px;
}

.gaming-setup {
    position: absolute;
    top: 50;
    right: 0;
}

.door:hover,
.photoboard:hover,
.gaming-setup:hover,
.bed:hover {
    // -webkit-filter: blur(100%);
    /* Chrome, Safari, Opera */
    // filter: blur(4px);
    background-color: #2574d3b6;
    box-shadow: 0 0 5px 10px #2574d3b6;
}

// .overlay {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 100%;
//     width: 100%;
//     opacity: 0;
//     transition: .5s ease;
//     background-color: #008CBA;
// }

// // .door:hover,
// // .photoboard:hover,
// // .gaming-setup:hover,
// .bedroom-container .overlay {
//     opacity: 1;
// }