// .container {
//     position: absolute;
//     left: 0;
//     top: 30%;
//     background: rgba(0, 0, 0, 0.5);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     width: 100%;
// }

.btn-container {
    :hover {
        filter: drop-shadow(0 0 0.75rem rgb(160, 0, 210));
    }

    position: absolute;
    top: 50%;
}

.button-text {
    color: black;
    font-size: 2.5vw;
    position: absolute;
    top: 1vw;
    left: 33%;
}