.container {
    position: absolute;
    margin-left: -250px;
    left: 18%;
    bottom: 0px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 4;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text {
    font-size: 3.5vw;
    position: absolute;
    top: -1vw;
    left: 3vw;
    font-family: Straightfont-Regular;
}