.container {
    position: absolute;
    margin-left: -250px;
    left: 20%;
    bottom: 0px;
}

.text {
    font-size: 4vw;
    position: absolute;
    top: -1vw;
    left: 3vw;
    font-family: Straightfont-Regular;
}