.subtitle {
    position: absolute;
    top: 25%;
    font-size: 60px;
}

.bluebtn-close {
    position: absolute;
    top: 80%;
    // left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    // margin-left: 220px;
    // margin-right: 100px;
    z-index: 1;
}

.close-text {
    color: black;
    font-size: 2.5vw;
    position: absolute;
    top: 1.7vw;
    z-index: 1;
}