.options-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: -280px;
    left: 20%;
    top: 20%;
    justify-content: center;
}

.options-card {
    display: flex;
    // padding: 1px;
    z-index: 50;
    justify-content: flex-start;

    :hover {
        filter: drop-shadow(0 0 0.75rem rgb(198, 116, 237));
    }
}

.options-text {
    margin-left: 50px;
    font-size: 3vw;
    position: absolute;
    font-family: Straightfont-Regular;
}